<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <link rel="shortcut icon" href="static/docs-assets/ico/favicon.png">

    <title>OldFaveNewPlace</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/typeahead.css" rel="stylesheet">
    <link href="static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/dist/css/starter-template.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      @font-face {
      font-family: Chalk;
      src: url("static/fonts/whatever_it_takes.ttf");
      font-weight:400;
      }

      font-family: 'Love Ya Like A Sister', cursive, Chalk;
      html, body {
      height: 100%;
      margin: 0px;
      padding: 0px
      }
      #map-canvas {height: 100%; margin: 0px; float: right; width: 100%; margin-top: 0px;}
      <!--- #map-canvas img { width:auto; display:inline; max-width:none; line-height:normal; } --->
      #results { height: 85%; margin: 0px; float: left; width: 25%; margin-top: 50px; margin-left: 15px }

      }

      </style>
      {% block style %}{% endblock %}

    <script type="text/javascript"
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD74fujOMV4Dcr6bB8sRnGrscv3iVH3Y1E&sensor=true">
    </script>

    {% block head %}{% endblock %}

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
	    <img src="static/img/logo.png" style="height:50px; margin-top: -15px">
	  </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="http://slid.es/cpfarrell/oldfavenewhood" target="_blank">About</a></li>
            <li class="active"><a href="https://github.com/cpfarrell/Insight/tree/master/Insight" target="_blank">GitHub</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    </div>

    {% block content %}
    {% endblock %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-47823654-1', 'oldfavenewplace.com');
      ga('send', 'pageview');

    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
    <script src="static/dist/js/locations.js"></script>
    <script src="static/dist/js/typeahead.min.js"></script>

  <script>
    $('#restaurant_name').typeahead({
    name: 'restaurants',
    //prefetch: '/q?restaurants=B',
    remote: '/json/restaurants?q=%QUERY',
    limit: 10
  });
  </script>

  {% block scripts %}{% endblock %}

  </body>
</html>
