{% extends "base.html" %}

{% block head %}
<style>
body { background: white url("static/img/food_dimmed.jpg") no-repeat fixed top center;}
</style> 

<style type="text/css">
<link href="static/dist/css/bootstrap.css" rel="stylesheet">
<link href="static/dist/css/starter-template.css" rel="stylesheet">

</style>

{% endblock %}

{% block content %}
<!--- <div class="starter-template" style="color:blue; background-color: white; width: 48%; margin-top: 3%; margin-left: 26%; padding-top: 1px; padding-bottom: 10px;
				     border-style:solid; border-width:5px; border-color: black" --->
<div class="starter-template" style="color:blue; background-color: white; width: 100%; margin-top: -2%; padding-top: 6px; padding-bottom: 1px">
  <big><big>
    <h1><center><font size="7">OldFaveNewPlace</font></center></h1>
    <p class="lead"><center>Find a place like your favorite restaurant wherever you are</center></p>
      </big></big>
</div>

<div class="jumbotron" style="position:absolute; width:48%; margin-left: 26%; margin-top: 12%; padding-top: 3px; padding-bottom: 1px">
<!--- <div id="control_panel"> --->
<!---     <form autocomplete="on"> --->
      <!--- Find a restaurant like --->
      <!--- Box where user inputs restaurant, has name restaurant_type --->
      <small>
      <center>
	Restaurant you wish you could go to<br>
      <input type="text" id="restaurant_name" placeholder="Old restaurant" class="form-control" size="40">
      <br>Where you actually are<br>
      <!--- <input id="restaurant_name" type="text" placeholder="Restaurant" size="30" autocomplete="on"> --->
      <!--- <br>within --->
      <!--- Box where user inputs allowed distance, has name miles --->
      <!---  <input type="text" id="miles" placeholder="miles" class="form-control" size="3"> --->
      <!--- <input id="miles" type="text" placeholder="Miles" size="10"> --->
      <!--- miles of --->
      <!--- Box where user inputs zip code, has name zipcode --->
      <span>
      <input type="text" id="zipcode" placeholder="Street address, city, or zip code" class="form-control" size="40">
      <input type="text" id="miles"   placeholder="Miles" class="form-control" size="3"><br>
      </span>
      <!--- Button which starts collection of data from above forms --->
      <button type="button" class="btn btn-default" id="find_button" href="maps" size="40">Search</button>
      </center>
      </small>
      <!--- Text box which will hold the output restaurants once the id values are filled -->
      <div id="points"></div>
      <p class="lead" id="output_results"></p>
</div>
{% endblock %}

{% block scripts %}
<script>
  // Search send (press enter) - jquery
  // Wait til page load is ready
  $(document).ready(function(){
  console.log( "ready!" );
  //When the button with id find_button is clicked then do these actions
  $("#find_button").click(function() {
  //Collect the values in the form fields with ids of restaurant_name, miles, and zipcode
  var restaurant = $('#restaurant_name').val();
  restaurant = restaurant.replace("&","%26");
  restaurant = restaurant.replace("+","%2B");
  var miles = $('#miles').val();
  var zipcode = $('#zipcode').val();
  //Call the getRestaurant function in data.js with the input values
  <!---getRestaurant(restaurant, zipcode, miles);--->
  console.log("Passing " + restaurant)
  window.location.href = "maps?restaurant="+restaurant+"&miles="+miles+"&zipcode="+zipcode
  });
  });
</script>


<script>
    $('#miles').typeahead({
    name: 'miles',
    //prefetch: '/q?miles=B',
    remote: '/json/miles?q=%QUERY',
    limit: 10
  });

    $('#zipcode').typeahead({
    name: 'address',
    //prefetch: '/q?address=B',
    remote: '/json/address?q=%QUERY',
    limit: 10
  });
</script>

{% endblock %}
