{% extends "base.html" %}

{% block style %}
<link href="static/css/typeahead.css" rel="stylesheet">
<link href="static/dist/css/bootstrap.css" rel="stylesheet">

<style>
#results { height: 85%; margin: 0px; float: left; width: 25%; margin-top: 50px; margin-left: 15px }
#infowindow {
    width: 150px; !important
}
<!---
img {
  position: absolute;
  left: 10px;
  top: 60px;
  display: block;
  clip: rect(20px, 0, 0, 0px);
}--->
</style>
{% endblock %}

{% block content %}
<div>
  <div class="jumbotron" id="output_results" style="width:35%; float:right; margin-left: 68%; margin-top: 6%; padding: 10px; padding-top: 1px; z-index: 11; position:absolute;
						    background: transparent; color: #fffef9; font-family: 'Love Ya Like A Sister' !important; height: 50%">
    Top Restaurants:
  </div>
</div>


<div>
  <img src="static/img/CutPicture.com_2014-Jan-24_03_56_39.jpg" style="height: 70%; width:32%; float:right; margin-left: 68%; margin-top: 6%; 
	padding: 5px; padding-top: 1px; z-index: 8; position:absolute;">
</div>


<button id="NewSearch" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="z-index:14; position:fixed; margin-left:10px; bottom:10px">
  New search
</button>

<div id="map-canvas" style="position:absolute; z-index: 5"></div> 


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New search</h4>
      </div>
      <div class="modal-body">
	Old Favorite<br>
	<input type="text" id="restaurant_name" placeholder="Restaurant" class="form-control" size="60">
	<!---
	with
	<input id="miles" type="text" placeholder="miles" size="10">
	miles of
	--->
	<br><br>New address<br>
	<input type="text" id="zipcode" placeholder="Street address, city, or zip code" class="form-control" size="60">	
	<input type="text" id="miles"   placeholder="Miles" class="form-control" size="3">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="find_button" class="btn btn-primary" data-dismiss="modal">New search</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block scripts %}
<script src="static/dist/js/locations.js"></script>
<script>
  var height = $('#map-canvas').height()
  document.getElementById('map-canvas').style.height = (height - 50) + 'px';
  //document.getElementById('map-canvas').style.height = document.getElementById('map-canvas').style.height - 50px
    // Search send (press enter) - jquery
    // Wait til page load is ready
    $(document).ready(function(){
      console.log( "ready!" );
      console.log("{{restaurant}}")
      initialize()
      getRestaurant("{{restaurant}}", "{{zipcode}}", "{{miles}}");
      //readInfo({{latitudes}}, {{longitudes}})
      //When the button with id find_button is clicked then do these actions
      $('#find_button').click(function() {
         console.log('button clicked')
         //Collect the values in the form fields with ids of restaurant_name, miles, and zipcode
         var restaurant = $('#restaurant_name').val();
         var miles = $('#miles').val();
         var zipcode = $('#zipcode').val();
         //Call the getRestaurant function in data.js with the input values
         getRestaurant(restaurant, zipcode, miles);
      });
    });
  </script>

<script>
    $('#miles').typeahead({
    name: 'miles',
    //prefetch: '/q?miles=B',
    remote: '/json/miles?q=%QUERY',
    limit: 10
  });

    $('#zipcode').typeahead({
    name: 'address',
    //prefetch: '/q?address=B',
    remote: '/json/address?q=%QUERY',
    limit: 10
  });
</script>
{% endblock %}
